* {
  background-color: #05292E;
  color: aliceblue;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
}

header {
  width: calc(102.5% - 40px);
  height: calc(60vh - 40px);
  background-image: url('https://preview.redd.it/o6cwlzg3exk41.png?auto=webp&s=eaad71f0c76522a309978bbd65b1a06902e56970');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (max-width: 480px) {
  header {
    width: 100%;
    height: calc(50vh - 20px);
    background-position: center top;
  }
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.info-ubication {
  display: flex;
  justify-content: space-between;
  width: 600px;

}

.search-ubication {
  padding: 10px;
  margin-top: -60px;
  background-color: transparent;
}

.search-ubication input {
  width: 700px;
  height: 38px;
  background-color: white;
  box-shadow: 0px 0px 4px 2px #00b700;
  color: black;
  text-align: center;
}

.search-ubication button {
  height: 42px;
  width: 40px;
  background-color: #05292E;
  box-shadow: 0px 0px 4px 2px #00b700;
  color: white;
  text-align: center;
}

.info-content {
  margin-top: 15px;
  margin-bottom: 35px;
  width: 1000px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #062226;

}

.info-content h1 {
  margin-top: 5px;
}

.info-content h1,
p {
  background-color: #062226;
}

.info-ubication {
  background-color: #062226;
}



@media (max-width: 480px) {

  .info-content {
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 35px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
  }

  .info-ubication {
    display: flex;
    justify-content: space-between;
    width: 300px;
  
  }

  .search-ubication input {
    width: 300px;
    height: 35px;
  }
   
}

.grup-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.card {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  width: 500px;

}

.card img {
  height: 210px;
  width: 200px;
  border-radius: 50%;
  margin-right: 30px;

}

.card-text {
  padding-left: 15px;
  box-shadow: 0px 0px 4px 2px #00b700;
  background-color: #062226;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 5px;
}

.card-text h3,
p {
  background-color: #062226;
  margin-top: 11px;
}

.card-text p {
  margin-bottom: -10px;
}

.underline {
  margin-top: -10px;
  width: 240px;
  height: 1px;
  background-color: #7a8a80;
}

.title {
  font-weight: 600;
  font-size: 12px;
  color: #7a8a80;
}

.status {
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 170px;
  border-radius: 0px 12px 12px 0px;
  box-shadow: 0px 0px 4px 2px #00b700;
  padding-left: 10px;
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: 175px;
  margin-left: 80px;
  border-radius: 50%;
}

@media (max-width: 480px) {
 
.grup-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
}

.card {
  display: flex;
  border-radius: 10px;
  width: 93%;

}

.card img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-text {
  padding-left: 15px;
  box-shadow: 0px 0px 4px 2px #00b700;
  background-color: #062226;
  width: 230px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 5px;
}


.underline {
  margin-top: -10px;
  width: 205px;
  height: 1px;
  background-color: #7a8a80;
}

.status {
  position: absolute;
  width: 90px;
  height: 20px;
  margin-top: 125px;
  border-radius: 0px 12px 12px 0px;
  box-shadow: 0px 0px 4px 2px #00b700;
  padding-left: 10px;
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: 130px;
  margin-left: 80px;
  border-radius: 50%;
} 

}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 100px;
  background: #062226;
}